body {
  background-color: #ffffff;
}
/*fadein*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  /* make things invisible upon start */
  opacity:0;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fade-in.first {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.main-fluid {
  background-color: #f8f8f8;
  margin-right: 49px;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: strech;
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 80px;
  padding-left: 80px;
  position: relative;
  padding-top: 150px;
  text-align: left;
}
.main-content {
  width: 50%;

  h1 {
    margin-left: -60px;
  }
  p {
    padding-top: 20px;
    padding-left: 60px;
    font-size: 26px;
    font-weight: lighter;
  }
}
.main-img {
  width: 50%;
  height: 409px;
  margin-top: 78px;
  background-color: #e2f4f3;
  background-image: url('https://images.unsplash.com/photo-1521453159160-6b5c58c24591?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=149a5703e1ecd9f4a6b01c1f8f8280c6&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}
.work-container {
  // height: 100vh;
}
.line-break {
  width: 70px;
  height: 5px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  margin-left: -60px;
}
.side-bar-left {
  display: flex;
  flex-direction: column;
  position: relative;
}
/*header*/
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}
/*footer*/
.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}
/*side-bar*/
.side-bar-left {
  z-index: 2;
  left: 0;
  width: 55px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  justify-content: center;
  .fab {
    font-size: 27px;
    padding-top: 45px;
    color: #d9bcee;
    margin-left: 10px;
    padding-top: 0px;
  }
}
/*scroll appear*/
#work-container {
  // margin-left: 40px;
  // padding-left: 16px;
  margin-top: 110px;
  // max-height: 1100px;
}
.hideme {
  opacity:0;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 50px;
}
.work-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5em;
  h2 {
    text-align: center;
  }
}

/*card*/
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  h4 {
    position: absolute;
    top: 127px;
    left: 127px;
    text-decoration: none;

  }
}
.fas {
  font-size: 65px;
  padding-top: 45px;
}
.fab {
  font-size: 65px;
  padding-top: 45px;
}
// projects
.project-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5em;
  h2 {
    text-align: center;
  }
}
.card-2 {
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  h4 {
    position: absolute;
    top: 127px;
    left: 127px;
    text-decoration: none;
    color: #f8f8f8;
  }
}
.line-break-content {
  width: 90px;
  height: 5px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
.flex-form {
  margin-bottom: 57px;
  padding-top: 5em;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 44px;
  textarea {
    margin-bottom: 26px;
    border: none;
    width: 27em;
  }
  input {
    margin-bottom: 26px;
    border: none;
    width: 27em;
  }
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 7em;
 }
.btn:hover {
  background-position: right center;
}
.btn-1 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}
.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}
.arrow:before,
.arrow:after {
    background: #77828d;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}
.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}
.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*sm screen*/
@media (max-device-width: 736px) {
  .main-fluid {
    background-color: #f8f8f8;
    margin-right: 0px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 0px;
  }
  .main-img {
    width: 20em;
    height: 15em;
  }
  .main-content {
    text-align: center;
    width: 18em;

    h1 {
      margin-left: 0px;
      font-size: 34px;
    }
    p {
      padding-left: 0px;
      font-size: 19px;
      font-weight: lighter;
    }
  }
  .line-break {
    width: 16em;
    margin-left: 1em;
  }
  .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .contact-form {
    textarea {
      width: 16em;
    }
    input {
      width: 16em;
    }
  }
  img {
    height: 20em;
  }
}
