---
title: Jasmine
---
<div class="header" style="opacity: 1; transition: opacity 800ms ease-in 0s, height 200ms ease 0s;"></div>
<div class="side-bar-left" style="opacity: 1; transition: opacity 800ms ease-in 0s, width 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; width: 55px;"></div>
<div class="bottom-bar" style="opacity: 1; transition: opacity 800ms ease-in 0s, height 200ms ease 0s;"></div>
<div class="main-fluid" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 700ms ease-out 0s;">
  <div class="about-container fade-in first">
    <div class="main-img"></div>
    <div class="main-content">
      <h1>I’m Meeseeks, a Digital Product Designer & Art Director based in Berlin.</h1>
      <div class="line-break"></div>
      <p>My goal is to help people build better and more meaningful products. With a strong background in UX & UI design, I make use of iterative hands-on processes and follow a human-centric design approach. My work ranges from strategic planning and rough prototyping in the early stages, to creating a strong visual design language, all of which increases the value of both the brand and the product.</p>
    </div>
  </div>
  <div id="work-container">
    <div id="work-header" class="about-container">
      <h2>What I Do</h2>
    </div>
    <div class="hideme">Fade In</div>
    <div class="hideme">Fade In</div>
  </div>
</div>