---
title: Jasmine
---
<div class="header" style="opacity: 1; transition: opacity 800ms ease-in 0s, height 200ms ease 0s;">
</div>
<div class="side-bar-left hidden-xs hidden-sm" style="opacity: 1; transition: opacity 800ms ease-in 0s, width 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; width: 55px;">
  <% link_to 'https://www.linkedin.com/in/jasminetangting/' do %>
    <i class="fab fa-linkedin"></i>
  <% end %>
  <% link_to 'https://github.com/Picklerick94' do %>
    <i class="fab fa-github-square"></i>
  <% end %>
</div>
<div class="bottom-bar" style="opacity: 1; transition: opacity 800ms ease-in 0s, height 200ms ease 0s;"></div>
<div class="main-fluid" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 700ms ease-out 0s;">
  <div class="about-container fade-in first">
    <div class="main-img"></div>
    <div class="main-content">
      <h1>I’m Jasmine, a frontend developer based in Shanghai.</h1>
      <div class="line-break"></div>
      <p>With a background in international financial law and experience in a Silicon Valley law firm, I was fascinated by the logic of coding and dived into web development. My work ranges from O2O web applications to WeChat Mini Programs. I love scuba diving and reading García Márquez books.</p>
    </div>
  </div>
  <!-- what I do -->
  <div id="work-container">
    <div class="hideme">
      <img src="http://uploads.webflow.com/58ff19c91dfbf33afe47b6d9/59761460d9e5f43edc850734_plantv2%402x.png" alt="" style="height: 26em; position: absolute; left: 0; z-index: 5;">
      <div class="work-content-container">
        <h2>What I Do</h2>
        <div class="line-break-content"></div>
        <div class="cards">
          <div class="card">
            <i class="fas fa-laptop-code"></i>
            <h3>Frontend Development</h3>
            <p>JavaScript ES6, Vue, HTML5, CSS3</p>
          </div>
          <div class="card">
            <i class="fas fa-code"></i>
            <h3>Backend Development</h3>
            <p>Ruby on Rails, SQL Databases</p>
          </div>
          <div class="card">
            <i class="fab fa-weixin"></i>
            <h3>WeChat Mini Program</h3>
          </div>
        </div>
        <p style="text-align: center;">Check <a href="www.linkedin.com/in/jasminetangting"> here </a>for full CV</p>
      </div>
    </div>
    <!-- what I create -->
    <div class="hideme">
      <img src="http://uploads.webflow.com/58ff19c91dfbf33afe47b6d9/59761460d9e5f43edc850734_plantv2%402x.png" alt="" style="height: 26em; position: absolute; right: 0; transform: rotateX(0) rotateY(180deg) rotateZ(0); z-index: 5;">
      <div class="project-content-container">
        <h2>What I Create</h2>
        <div class="line-break-content"></div>
        <div class="cards">
          <% link_to 'https://misscocktails.herokuapp.com/' do %>
            <div class="card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=08cb0ebaadb99995755a696a9710b229&auto=format&fit=crop&w=500&q=60');">
              <h4>Miss Cocktail</h4>
            </div>
          <% end %>
          <% link_to 'https://www.jie-fang.club/' do %>
            <div class="card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1500281781950-6cd80847ebcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac62bee1f3ea11911025de39a9398741&auto=format&fit=crop&w=500&q=60');">
              <h4>街坊</h4>
            </div>
          <% end %>
          <div class="card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1513738781020-f0109e72554f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc01cf9a021520910574e59d8d689767&auto=format&fit=crop&w=500&q=60');">
            <h4>Dog Sitter</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="hideme">
      <div class="flex-form">
        <h2 style="text-align: center;">Contact Me</h2>
        <form method="POST" action="https://formspree.io/jastangting@gmail.com" class="contact-form">
          <input type="email" name="email" placeholder="Your email">
          <textarea name="message" placeholder="Your message"></textarea>
          <button type="submit" class="btn btn-1">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>